<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <script type="text/javascript">
    function calculate() {
      let value = document.getElementById("textBox").value;
      let answer = {{calculate #value}};
      document.getElementById("answerLabel").innerHTML = `Answer: ${answer}`;
    }
  </script>
  <body>
    {{> header}}
      <form name="myForm">
        <input type="text" id="textBox" value=""/>
        <input type="button" value="Calculate" onClick="calculate()"/>
        <label id="answerLabel"></label>
      </form>
    {{> footer}}
  </body>
</html>
